@page
@using System.Globalization;
@model ForgotPasswordModel

@{
    ViewData["Title"] = @Localizer.Text("titleForgotPassword");

    switch (@Request.Cookies["Participant"])
    {
        case "CONFIRMANT":
            ViewData["bgcolor"] = "dark";
            break;
        case "DEBTOR":
            ViewData["bgcolor"] = "primary";
            break;
        case "FACTOR":
            ViewData["bgcolor"] = "warning";
            break;
        case "SUPPLIER":
            ViewData["bgcolor"] = "purple";
            break;
        default:
            ViewData["bgcolor"] = "navy";
            break;
    }

    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-10">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">@Localizer.Text("titleForgotPassword")</h1>
                                <p class="small mb-4 text-justify">@Localizer.Text("textoForgotPassword")</p>
                            </div>
                            <form class="user" method="post" id="account">

                                @if (@Request.Cookies["Discriminator"] == "PERSON")
                                {
                                    <input asp-for="Input.Prefix" type="hidden" value="0" />
                                    <input asp-for="Input.Number" type="hidden" value="0" />
                                }

                                @if (@Request.Cookies["Discriminator"] == "LEGAL")
                                {

                                    <div class="form-group">
                                        <div class="input-group">
                                            @if (Model.Options.Count > 0)
                                            {
                                                <div class="input-group-prepend">

                                                    <select required asp-for="Input.Prefix" class="input-group-text form-control-user" onblur="validarPrefix();validarRegExpr('@Model.RegexExpre','@Model.MaskEdit')" id="selectPrefix" style="width:4rem;padding-top:0 !important;padding-bottom:0 !important;height:3.1rem;" asp-items="Model.Options" aria-label="Example select with button addon">
                                                        <option value=""></option>
                                                    </select>

                                                </div>
                                            }
                                            @if (Model.Country != null)
                                            {
                                                <input asp-for="Input.Number" type="text" onblur="validarRegExpr('@Model.RegexExpre','@Model.MaskEdit');validarPrefix()" maxlength="@Model.Digits" class="form-control form-control-user" aria-label="Text input with dropdown button" placeholder="@Model.MaskEdit" />
                                            }
                                            else
                                            {
                                                <input asp-for="Input.Number" type="text" onblur="validarRegExpr('@Model.RegexExpre','@Model.MaskEdit');validarPrefix()" maxlength="@Model.Digits" class="form-control form-control-user" aria-label="Text input with dropdown button" placeholder="@Model.MaskEdit" />
                                            }
                                        </div>
                                        <span class="small text-danger" id="validNum"></span>



                                    </div>

                                }
                                <div class="form-group">
                                    <input asp-for="Input.Email" type="email" class="form-control form-control-user" id="exampleInputEmail" onblur="emailForgotPassword()" aria-describedby="emailHelp" placeholder="@Localizer.Text("placeholderLoginEmail")">
                                    <span class="small text-danger" id="validEmailForgotPassword"></span>
                                </div>

                                <input type="hidden" asp-for="Input.TokenReCap" class="g-recaptcha" id="idrecaptcha">

                                <button type="button" id="buttonSubmit" class="btn btn-primary btn-user btn-block">@Localizer.Text("buttonSend")</button>
                                <button type="submit" id="buttonSubmit2" hidden></button>

                                @if (Model.CustomError != null)
                                {
                                    <span class="small text-danger">@Localizer.Text(Model.CustomError)</span>
                                }

                            </form>

                            <hr>
                            <div class="text-center">
                                <a class="small" id="return-index" asp-route-culture="@culture" asp-page="/Index">@Localizer.Text("buttonReturnHome")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/translate/recursos.js" asp-append-version="true"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LexhPMUAAAAAMc2tL-GP1Sc7-UL-TvnfmZlNtIk"></script>
    <script>
        grecaptcha.ready(function () {
            pedirTokenRecaptcha("login")
            setInterval(function () { pedirTokenRecaptcha("login") }, 1 * 60 * 1000)
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

    <script>
        
        tiempoAusente()
    
        document.getElementById("buttonSubmit").addEventListener("click", tokenSubmit)

        document.getElementById("Input_Number").addEventListener("keypress", tokenSubmitEnter)

        document.getElementById("exampleInputEmail").addEventListener("keypress", tokenSubmitEnter)
        

        document.getElementById("account").addEventListener("submit", function (e) {
            try {
                var validNum = document.getElementById("validNum").innerHTML

                if (validNum != "") {
                    e.preventDefault()
                    return
                }
            } catch (e) {
            }

            if (document.getElementById("idrecaptcha").value == "") {
                toastr.warning(i18n.t("errorConexion"))
                e.preventDefault()
            }
        })
    </script>
}
