@page
@using System.Globalization;

@{
    ViewData["Title"] = "Forgot your password?";

    switch (@Request.Cookies["Participant"])
    {
        case "CONFIRMANT":
            ViewData["bgcolor"] = "danger";
            break;
        case "DEBTOR":
            ViewData["bgcolor"] = "primary";
            break;
        case "FACTOR":
            ViewData["bgcolor"] = "warning";
            break;
        case "SUPPLIER":
            ViewData["bgcolor"] = "purple";
            break;
        default:
            ViewData["bgcolor"] = "navy";
            break;
    }

    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">@Localizer.Text("titleForgotPasswordConfirmation")</h1>
                                <p class="mb-4">@Localizer.Text("textoForgotPasswordConfirmation")</p>

                            </div>

                            <hr>

                            <div class="text-center">
                                <a class="small" id="register-user" asp-page="./Register">@Localizer.Text("buttonCreateAccount")</a>
                            </div>
                            <div class="text-center">
                                <a class="small" id="login" asp-page="./Login">@Localizer.Text("buttonAlreadyAccount")</a>
                            </div>
                            <div class="text-center">
                                <a class="small" id="return-index" asp-page="/Index">@Localizer.Text("buttonReturnHome")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>