@page
@using System.Globalization;
@model ResetPasswordModel
@{
    ViewData["Title"] = @Localizer.Text("titleResetPassword");
    ViewData["bgcolor"] = "navy";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    int contador = 0;
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div hidden id="mensajesPoppup">

            @{
                foreach (var error in Model.errores)
                {
                    <input value="@Localizer.Text(error)" id="mensajeError-@contador" />
                    contador++;
                }
            }

        </div>

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">@Localizer.Text("titleResetPassword")</h1>
                                <p class="mb-4">&nbsp;</p>
                            </div>
                            <form class="user" method="post">
                                <input asp-for="Input.Token" hidden />
                                <div class="form-group">
                                    <input asp-for="Input.Email" type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" readonly />
                                    <span asp-validation-for="Input.Email" class="small text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Password" class="form-control form-control-user" id="newPassword" onblur="validarPrimeraVezInput('newPassword','validNewPassword')" aria-describedby="´passwordlHelp" placeholder="@Localizer.Text("placeholderPassword")" />
                                    <span asp-validation-for="Input.Password" class="small text-danger" id="validNewPassword"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" id="confirmPassword" onblur="validarPrimeraVezInput('confirmPassword','validConfirmPassword')" aria-describedby="´confirmPasswordlHelp" placeholder="@Localizer.Text("placeholderConfirmPassword")" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="small text-danger" id="validConfirmPassword"></span>
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">@Localizer.Text("buttonResetPassword")</button>
                            </form>

                            <div class="text-center">
                                <a class="small" id="return-index" asp-route-culture="@culture" asp-page="/Index">@Localizer.Text("loginTextReturn")</a>
                            </div>
                            <br />
                            <div style="font-size:0.9rem">
                                @Localizer.Text("informationMessagePassword")<br>
                                - @Localizer.Text("min8Character")<br>
                                - @Localizer.Text("needAlphaMinMayus")<br>
                                - @Localizer.Text("notNeedEnie")<br>
                                - @Localizer.Text("notMore2Character")<br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/translate/recursos.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />


    <script>
        tiempoAusente()
    </script>
}
