@page
@model TuFactoring.Areas.Supplier.Pages.PublicarFacturasModel
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Publicar Facturas";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!--Vue App-->
<v-app id="appPublicarFacturas" hidden>
    @Html.AntiForgeryToken()
    <div id="eliminarData">
        @for (var i = 0; i < Model.dataJsonFilter.Count; i++)
        {
            <input hidden id="filterData+@i" value="@Model.dataJsonFilter[i]" />
        }

        <input hidden id="currenciesData" value="@Model.dataJsonCurrencies" />
    </div>
    <!--Informacion General de la Pantalla-->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            <a href="#" class="btn btn-success btn-circle">
                <i class="@Localizer.Text("iconPublicInvoice")" style="color:white"></i>
            </a>
            @Localizer.Text("titlePublicInvoice")
        </h1>
    </div>
    <p class="mb-4">
        <!--
        @Localizer.Text("textoContentPublicarFacturas")
        <br />
        <br />
        @Localizer.Text("textoContentPublicarFacturas2")
        <br />
        @Localizer.Text("textoContentPublicarFacturas3")
            -->
        @Localizer.Text("textoContentPublicacionFacturas")
        <br />
        <br />
        @Localizer.Text("textoPress") <a href="#" @@click="dialogAyuda = true">@Localizer.Text("textoHere")</a> @Localizer.Text("textoMoreInformation")
    </p>

    <p class="mb-4 text-danger" v-if="facturas.length == 0 && arrayCondition(buscarFacturas,false) && filtersIsEmpty(filter)">
        @Localizer.Text("textoNotResultadoFacturas")
    </p>
    <!--Bandeja de Facturas por Publicar-->
    <div class="card shadow mb-4" v-for="(item,index) in currencies" v-if="methodPublicationsCurrency(item.id).length > 0 || !filterIsEmpty(filter[index])">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h4 class="m-0 font-weight-bold text-primary">
                @Localizer.Text("titleInvoiceToPublic") @Localizer.Text("inText") {{item.iso_4217}}
            </h4>
            <div class="dropdown no-arrow">
                <span class="font-weight-bold text-primary">@Localizer.Text("buttonOptions")</span>
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="@Localizer.Text("iconMenu") fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">@Localizer.Text("buttonOptions"):</div>
                    <button class="dropdown-item btn-link"
                            data-toggle="modal" :data-target="'#modalFilter-'+index">
                        <i class="@Localizer.Text("iconFilter")"></i>
                        @Localizer.Text("buttonFilter")
                    </button>

                    <button type="submit" form="filters" :value="index" class="dropdown-item btn-link" style="color:rgb(58,59,69) !important" :id="'buttonFilterClear-'+index">
                        <i class="@Localizer.Text("iconClear")"></i>
                        @Localizer.Text("buttoClearFilter")
                    </button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn-link" v-on:click="dialogSeguroPublicar = true; mensajeActual = 2; currencyValidator = item"
                            v-bind:disabled="envio || facturas.length == 0">
                        <i class="@Localizer.Text("iconCheck")"></i> @Localizer.Text("buttonPublicAll")
                    </button>
                    <button class="dropdown-item btn-link" v-on:click="dialogSeguroPosponer = true; mensajeActual = 3; currencyValidator = item"
                            v-bind:disabled="envio || facturas.length == 0">
                        <i class="@Localizer.Text("iconPosponed")"></i> @Localizer.Text("buttonPosponedAll")
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body" v-if="methodPublicationsCurrency(item.id).length > 0">
            <v-data-iterator :items="methodPublicationsCurrency(item.id)"
                             :items-per-page.sync="perPage"
                             :hide-default-footer="methodPublicationsCurrency(item.id).length <= perPage"
                             :footer-props="{ itemsPerPageOptions }"
                             :loading="loading[index]"
                             :options.sync="options[index]"
                             v-if="mostrarPublicar">
                <template v-slot:default="props">
                    <v-row>
                        <v-col v-for="(item,indexInvoice) in props.items" cols="12" lg="4" md="4" sm="6">
                            <div class="card shadow mb-3">
                                <div class="card-header border-left-success py-3" :id="index">
                                    <a :href="'#collapse'+index + '-' + indexInvoice" style="cursor: pointer; text-decoration: none;" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-0">
                                                    {{item.invoice.debtor.name}}
                                                </div>
                                                <p class="text-xs text-muted" style="margin-bottom: 0px !important">
                                                    {{item.invoice.number}} <span class="text-xs badge badge-primary">{{item.invoice.term_days}} @Localizer.Text("textoDays")</span>
                                                </p>
                                                <div class="h6 mb-0 font-weight-bold text-gray-800">
                                                    {{item.currency.symbol}}&nbsp;{{formatoMonedaInput(item.invoice.amount,lang,item.currency.digits)}}
                                                    &nbsp;&nbsp;
                                                    <v-chip x-small>
                                                        {{item.currency.iso_4217}}
                                                    </v-chip>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <img :src="'/img/banks/' + item.entity.routing_number + '.png'" height="48" alt="">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-footer w-100 justify-content-between collapse" :id="'collapse'+index + '-' + indexInvoice">
                                    <a :href="'#collapse'+index" style="cursor: pointer; text-decoration: none;" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                        <button class="btn btn-warning btn-icon-split btn-sm float-left" @@click="dialogConfirmPosponed = true; mensajeActual = 4; indexActual = facturas.indexOf(item)">
                                            <span class="icon text-white-50">
                                                <i class="@Localizer.Text("iconPosponed")"></i>
                                            </span>
                                            <span class="text">@Localizer.Text("buttonPosponed")</span>
                                        </button>
                                        <button class="btn btn-success btn-icon-split btn-sm float-right" @@click="dialogConfirmPublish = true; mensajeActual = 5; indexActual = facturas.indexOf(item)">
                                            <span class="icon text-white-50">
                                                <i class="@Localizer.Text("iconCheck")"></i>
                                            </span>
                                            <span class="text">@Localizer.Text("buttonPublic")</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </v-col>
                    </v-row>
                </template>

            </v-data-iterator>
        </div>
        <div v-else-if="!filterIsEmpty(filter[index]) && !buscarFacturas[index]">
            <p class="ml-4 mt-2 mb-4 text-danger">
                @Localizer.Text("textFilterIsEmpty")
            </p>
        </div>
    </div>
    <!--Dialog para Posponer una Factura-->
    <v-dialog v-model="dialogConfirmPosponed" max-width="420">
        <v-card>
            <v-card-title class="headline">
                <h4 class="modal-title">@Localizer.Text("titleModalPosponer")</h4>
                <v-spacer></v-spacer>
                <v-btn icon @@click="dialogConfirmPosponed = false"><v-icon>@Localizer.Text("iconCloseMDI")</v-icon></v-btn>
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="12" md="12" sm="12" lg="12">
                        <p v-if="mensajeActual != -1"> {{mensajesDialog[mensajeActual]}}</p>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="12" sm="12" lg="12">
                        <span class="float-right">
                            <v-btn @@click="posponer('facturas',indexActual); dialogConfirmPosponed = false" dark color="green">@Localizer.Text("buttonAcept")</v-btn>
                            <v-btn @@click="dialogConfirmPosponed = false" dark color="red">@Localizer.Text("buttonCancel")</v-btn>
                        </span>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
    <!--Dialog para Publicar una Factura-->
    <v-dialog v-model="dialogConfirmPublish" max-width="420">
        <v-card>
            <v-card-title class="headline">
                <h4 class="modal-title">@Localizer.Text("titleModalPublicar")</h4>
                <v-spacer></v-spacer>
                <v-btn icon @@click="dialogConfirmPublish = false"><v-icon>@Localizer.Text("iconCloseMDI")</v-icon></v-btn>
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="12" md="12" sm="12" lg="12">
                        <p v-if="mensajeActual != -1"> {{mensajesDialog[mensajeActual]}}</p>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="12" sm="12" lg="12">
                        <span class="float-right">
                            <v-btn @@click="publicar(indexActual); dialogConfirmPublish = false" dark color="green">@Localizer.Text("buttonAcept")</v-btn>
                            <v-btn @@click="dialogConfirmPublish = false" dark color="red">@Localizer.Text("buttonCancel")</v-btn>
                        </span>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
    <!--Dialog para Publicar todas las Facturas en bandeja-->
    <v-dialog v-model="dialogSeguroPublicar" max-width="420">
        <v-card>
            <v-card-title class="headline">
                <h4 class="modal-title">@Localizer.Text("titleModalPublishAll")</h4>
                <v-spacer></v-spacer>
                <v-btn icon @@click="dialogSeguroPublicar = false"><v-icon>@Localizer.Text("iconCloseMDI")</v-icon></v-btn>
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="12" md="12" sm="12" lg="12">
                        <p v-if="mensajeActual != -1"> {{mensajesDialog[mensajeActual]}}</p>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="12" sm="12" lg="12">
                        <span class="float-right">
                            <v-btn @@click="accionBoton(currencyValidator); dialogSeguroPublicar = false" dark color="green">@Localizer.Text("buttonAcept")</v-btn>
                            <v-btn @@click="dialogSeguroPublicar = false" dark color="red">@Localizer.Text("buttonCancel")</v-btn>
                        </span>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
    <!--Dialog para Posponer todas las Facturas en bandeja-->
    <v-dialog v-model="dialogSeguroPosponer" max-width="420">
        <v-card>
            <v-card-title class="headline">
                <h4 class="modal-title">@Localizer.Text("titleModalPosponerAll")</h4>
                <v-spacer></v-spacer>
                <v-btn icon @@click="dialogSeguroPosponer = false"><v-icon>@Localizer.Text("iconCloseMDI")</v-icon></v-btn>
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="12" md="12" sm="12" lg="12">
                        <p v-if="mensajeActual != -1"> {{mensajesDialog[mensajeActual]}}</p>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="12" sm="12" lg="12">
                        <span class="float-right">
                            <v-btn @@click="accionBoton(currencyValidator); dialogSeguroPosponer = false" dark color="green">@Localizer.Text("buttonAcept")</v-btn>
                            <v-btn @@click="dialogSeguroPosponer = false" dark color="red">@Localizer.Text("buttonCancel")</v-btn>
                        </span>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
    <!--Filtro 1-->
    <form id="filters" method="post">
        @for (var i = 0; i < Model.dataJsonFilter.Count; i++)
        {
            <div class="modal" tabindex="-1" role="dialog" id="modalFilter-@i">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><i class="@Localizer.Text("iconFilter")"></i>&nbsp;@Localizer.Text("titlefilter")</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <label>@Localizer.Text("titleConfirmant")</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconProvider")"></i></span>
                                        </div>
                                        <input asp-for="filter[i].Confirmant_id" class="form-control clear-@i" placeholder="@Localizer.Text("placeholderConfirmant")" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <label>@Localizer.Text("titleInvoiceNumber")</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="@Localizer.Text("iconInvoiceNumber")"></i></span>
                                        </div>
                                        <input type="text" maxlength="255" id="txtFactura" class="form-control clear-@i" asp-for="filter[i].Number"
                                               placeholder="@Localizer.Text("placeholderNDocument")" onKeypress="if (event.keyCode == 32) event.returnValue = false;" maxlength="255">
                                    </div>
                                    <span class="help-block text-danger" asp-validation-for="filter[i].Number"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <label>@Localizer.Text("textoProgram")</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="@Localizer.Text("iconProvider")"></i></span>
                                        </div>
                                        <select asp-for="filter[i].Program" class="form-control clear-@i" aria-label="@Localizer.Text("placeholderSelect")">
                                            <option value="">Todas</option>
                                            @foreach (var option in Model.Programs_Options)
                                            {
                                                <option value="@option.Value">@Localizer.Text(option.Text)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <label>@Localizer.Text("titleDebtor")</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconUser")"></i></span>
                                        </div>
                                        <input asp-for="filter[i].Debtor_id" class="form-control clear-@i" placeholder="@Localizer.Text("placeholderDebtor")" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <label>@Localizer.Text("titleIssuedFrom")</label>
                                    <div class="input-group input-group-sm date" data-date-format="dd-mm-yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="@Localizer.Text("iconDate")"></i></span>
                                        </div>
                                        <input :max="moment().format('YYYY-MM-DD')" :min="moment().subtract(100,'years').format('YYYY-MM-DD')"
                                               asp-for="filter[i].IssuedFrom" type="date" class="form-control pull-right clear-@i" placeholder="dd-mm-yyyy" onkeypress="return false">
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <label>@Localizer.Text("titleIssuedTo")</label>
                                    <div class="input-group input-group-sm date" data-date-format="dd/mm/yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="@Localizer.Text("iconDate")"></i></span>
                                        </div>
                                        <input :max="moment().format('YYYY-MM-DD')" :min="moment().subtract(100,'years').format('YYYY-MM-DD')" type="date"
                                               class="form-control pull-right clear-@i" asp-for="filter[i].IssuedTo" onkeypress="return false">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <label>@Localizer.Text("titleExpirationFrom")</label>
                                    <div class="input-group input-group-sm date" data-date-format="dd-mm-yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="@Localizer.Text("iconDate")"></i></span>
                                        </div>
                                        <input :max="moment().add(100,'years').format('YYYY-MM-DD')" :min="moment().format('YYYY-MM-DD')" asp-for="filter[i].ExpirationFrom"
                                               type="date" class="form-control pull-right clear-@i" placeholder="dd-mm-yyyy" onkeypress="return false">
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <label>@Localizer.Text("titleExpirationTo")</label>
                                    <div class="input-group input-group-sm date" data-date-format="dd/mm/yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="@Localizer.Text("iconDate")"></i></span>
                                        </div>
                                        <input :max="moment().add(100,'years').format('YYYY-MM-DD')" :min="moment().format('YYYY-MM-DD')" type="date"
                                               class="form-control pull-right clear-@i" asp-for="filter[i].ExpirationTo" onkeypress="return false">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <label>@Localizer.Text("titleAmountFrom")</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconNominalAmount")"></i></div>
                                        </div>
                                        <input id="amountFrom-@i" onblur="formatoAmount('amountFrom-@i')" placeholder="@Localizer.Text("placeholderNumberFormat")" asp-for="filter[i].AmountFrom" class="form-control text-right clear-@i">
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <label>@Localizer.Text("titleAmountTo")</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconNominalAmount")"></i></div>
                                        </div>
                                        <input id="amountTo-@i" onblur="formatoAmount('amountTo-@i')" asp-for="filter[i].AmountTo" placeholder="@Localizer.Text("placeholderNumberFormat")" class="form-control text-right clear-@i">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 align-self-end">
                                    <button type="submit" class="btn btn-block btn-success " :disabled="envio">
                                        <i class="@Localizer.Text("iconFilter")"></i>
                                        <span>@Localizer.Text("buttonFilter")</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </form>
    <v-dialog v-model="dialogAyuda" max-width="500" transition="dialog-bottom-transition">
        <v-card>
            <v-card-title>
                <v-spacer></v-spacer>
                <v-btn icon @@click="dialogAyuda = false">
                    <v-icon>@Localizer.Text("iconCloseMDI")</v-icon>
                </v-btn>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="12" lg="12" md="12">
                            <!--
                            @Localizer.Text("textoPublicarFacturas0") <strong>@Localizer.Text("titleBankOffert")</strong>@Localizer.Text("textoPublicarFacturas0.1")<br /><br />
                            @Localizer.Text("textoPublicarFacturas1") <strong>@Localizer.Text("textoPublicarFacturas1.1")</strong><br />
                            @Localizer.Text("textoPublicarFacturas2")<br /><br />
                            @Localizer.Text("textoFor") <strong>@Localizer.Text("titlePublicInvoice")</strong>@Localizer.Text("textoPublicarFacturas0.1")<br /><br />
                            1. <strong>@Localizer.Text("textoPublicarFacturas3")</strong> @Localizer.Text("textoPublicarFacturas3.1")<br />
                            2. <strong>@Localizer.Text("textoPublicarFacturas4")</strong> @Localizer.Text("textoPublicarFacturas4.1")<br /><br />
                                -->

                            @Localizer.Text("textoPublicacionFacturas0") <br /><br />
                            <strong>@Localizer.Text("textoOneInvoice")</strong>@Localizer.Text("textoPublicacionFacturas1") <br />
                            <strong>@Localizer.Text("textoAllInvoice")</strong>@Localizer.Text("textoPublicacionFacturas2")<br /><br />

                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>


    @await Html.PartialAsync("_ModalLogoutPartial", 2)

</v-app>




@section Scripts{
    <script src="~/js/Proveedor/PublicarFacturas.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}