@page
@model TuFactoring.Areas.Confirmant.Pages.EjecutivoCuentasModel
@{
    ViewData["Title"] = Localizer.Text("titleAssignRiskLimit");
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<v-app id="appEjecutivoCuentas">
    @Html.AntiForgeryToken()
    <input hidden id="contenidoRaw" value="@Model.ListaEjcutivoCuenta" />
    <input hidden id="listadosInicialesJson" value="@Model.listadosInicialesJson" />
    <div id="eliminarData">
        @for (var i=0; i < Model.dataFilter.Count; i++)
        {
            <input hidden id="filterData+@i" value="@Model.dataFilter[i]" />
        }
        <input hidden id="currenciesData" value="@Model.dataJsonCurrencies" />
    </div>

    <div class="row">
        <div id="contenido" hidden class="col-md-12">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">
                    <a href="#" style="color:#fff !important" class="btn btn-success btn-circle">
                        <i class="@Localizer.Text("iconConfirmingPeople")"></i>
                    </a>
                    &nbsp;@Localizer.Text("titleAssignRiskLimit")
                </h1>
                <span style="display: none;">
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </span>
            </div>
            <p class="mb-4">
                @Localizer.Text("textoAyudaLimiteCredito")
                <br />
                <br />@Localizer.Text("textoPress")<a href="#" v-on:click="dialogAyuda=true" class="font-weight-bold"> @Localizer.Text("textoHere")</a> @Localizer.Text("textoMoreInformation")
            </p>

            <v-dialog v-model="dialogAyuda" max-width="500" transition="dialog-bottom-transition">
                <v-card>
                    <v-card-title>
                        <v-spacer></v-spacer>
                        <v-btn icon @@click="dialogAyuda = false">
                            <v-icon>@Localizer.Text("iconCloseMDI")</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12" sm="12" lg="12" md="12">

                                    <p class="text-justify">@Localizer.Text("textoModalAyudaLimiteTexto1")</p>
                                    <p>
                                        @Localizer.Text("textoModalAyudaLimiteTexto2")<br />
                                        @Localizer.Text("textoModalAyudaLimiteTexto3")
                                    </p>

                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>
                </v-card>
            </v-dialog>

            <!--Tabla Dinamica-->
            <div v-for="(tabla, index) in listaTablasPrueba" class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 font-weight-bold text-primary">
                        @Localizer.Text("Clientes") <span v-if="index != null && index >= 0">({{listaCurrencies[index].iso_4217}})</span>
                    </h4>
                    <div class="dropdown no-arrow">
                        <span class="font-weight-bold text-primary">@Localizer.Text("buttonOptions")</span>
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <button class="dropdown-item btn-link"
                                    data-toggle="modal" :data-target="'#modalFilter-'+index">
                                <i class="@Localizer.Text("iconFilter")"></i>
                                @Localizer.Text("buttonFilter")
                            </button>
                            <button type="submit" form="filters" :value="index" class="dropdown-item btn-link" style="color:rgb(58,59,69) !important" :id="'buttonFilterClear-'+index">
                                <i class="@Localizer.Text("iconClear")"></i>
                                @Localizer.Text("buttoClearFilter")
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <!------------------------------------------- Tabla de Consultas ---------------------------------------------->
                            <v-data-table :headers="headerCliente"
                                          :items="tabla"
                                          :items-per-page="5"
                                          :options.sync="listaOptions[index]"
                                          :loading="listaLoading[index]"
                                          :disable-filtering="true"
                                          :mobile-breakpoint="widthTelefono"
                                          class="elevation-1">

                                <template v-slot:item.n="{ item }">
                                    {{tabla.indexOf(item) + 1}}
                                </template>

                                <template v-slot:item.finans="{ item }">

                                    <span v-if="item.financiamiento == 'CREDIT'">@Localizer.Text("textoLimiteCreditoSinFinaciacion")</span>
                                    <span v-if="item.financiamiento == 'FINANCING' || item.financiamiento == 'Financing'">@Localizer.Text("textoLimiteCreditoConFinaciacion")</span>

                                </template>

                                <template v-slot:item.tipomoneda="{ item }">

                                    <span class="text-xs badge bg-gray-200">
                                        {{item.abbreviation}}
                                    </span>

                                </template>

                                <template v-slot:item.available="{ item }">

                                    <div v-if="item.available < 1" class="text-right">
                                        {{item.currency}}&nbsp;&nbsp;<span>0,00</span>
                                    </div>
                                    <div v-else class="text-right">
                                        <div>
                                            {{item.currency}}&nbsp;&nbsp;{{ formatoMonedaInput(item.available,'es',2) }}
                                        </div>
                                    </div>
                                </template>
                                <template v-slot:item.usage="{ item }">
                                    <div v-if="item.usage < 1" class="text-right">
                                        {{item.currency}}&nbsp;&nbsp;<span>0,00</span>
                                    </div>
                                    <div v-else class="text-right">
                                        <div v-if="item.usage > 0">
                                            {{item.currency}}&nbsp;&nbsp;{{ formatoMonedaInput(item.usage,'es',2) }}
                                        </div>
                                        <div v-else>{{item.currency}}&nbsp;&nbsp;{{ '0,00' }}</div>
                                    </div>
                                </template>

                                <template v-slot:item.action="{ item }">
                                    <v-btn outlined small v-if="item.available == null || item.available == 0" block v-on:click="detallesProspecto(item)" dark color="#5867dd">@Localizer.Text("buttonAssignAmount")</v-btn>
                                    <v-btn v-else small block v-on:click="detallesProspecto(item)" dark color="#5867dd">@Localizer.Text("buttonModifyAmount")</v-btn>
                                </template>
                            </v-data-table>

                        </div>
                    </div>
                </div>

            </div>
            <div v-if="listaTablasPrueba.length <= 0" class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 font-weight-bold text-primary">
                        @Localizer.Text("Clientes")
                    </h4>
                    <div class="dropdown no-arrow">
                        <span class="font-weight-bold text-primary">@Localizer.Text("buttonOptions")</span>
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <button class="dropdown-item btn-link"
                                    data-toggle="modal" data-target="#modalFilter">
                                <i class="@Localizer.Text("iconFilter")"></i>
                                @Localizer.Text("buttonFilter")
                            </button>
                            <a class="dropdown-item btn-link" style="color:black !important" asp-page="#">
                                <i class="@Localizer.Text("iconClear")"></i>
                                @Localizer.Text("buttoClearFilter")
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <!------------------------------------------- Tabla de Consultas ---------------------------------------------->
                            <v-data-table :headers="headerCliente"
                                          :items="[]"
                                          :items-per-page="10"
                                          :loading="loading"
                                          :mobile-breakpoint="widthTelefono"
                                          :disable-filtering="true"
                                          class="elevation-1">

                            </v-data-table>

                        </div>
                    </div>
                </div>

            </div>
            <!--Tabla Dinamica-->
            <!--Modal d Flitro de los Clientes-->
            <form id="filters" method="post">
                @for (var i = 0; i < Model.dataFilter.Count; i++)
                {
                    <div class="modal" tabindex="-1" role="dialog" id="modalFilter-@i">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><i class="@Localizer.Text("iconFilter")"></i>&nbsp;@Localizer.Text("titlefilter")</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <label>@Localizer.Text("titleClient")</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconProvider")"></i></span>
                                                </div>
                                                <input placeholder="@Localizer.Text("selectTypeDebtor")" asp-for="filter[i].People" class="form-control clear-@i">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <label>@Localizer.Text("textostate")</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconAddress")"></i></div>
                                                </div>
                                                <select asp-for="filter[i].Region" class="form-control clear-@i" asp-items="Model.State_Options" aria-label="@Localizer.Text("placeholderEstate")">
                                                    @*id="selectState" onchange="listaCities('selectState','listadosInicialesJson')"*@
                                                    <option value="">@Localizer.Text("placeholderEstate")</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <label>@Localizer.Text("limitCreditAmountFrom")</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconNominalAmount")"></i></div>
                                                </div>
                                                <input onblur="formatoAmount('amountFrom-@i')" placeholder="@Localizer.Text("placeholderNumberFormat")" id="amountFrom-@i" asp-for="filter[i].AmountRiskFrom" class="form-control text-right clear-@i">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <label>@Localizer.Text("limitCreditAmountTo")</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconNominalAmount")"></i></div>
                                                </div>
                                                <input onblur="formatoAmount('amountTo-@i')" asp-for="filter[i].AmountRiskTo" id="amountTo-@i" placeholder="@Localizer.Text("placeholderNumberFormat")" class="form-control text-right clear-@i">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <label>@Localizer.Text("textolimitCreditAmountFromDisponible")</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconNominalAmount")"></i></div>
                                                </div>
                                                <input onblur="formatoAmount('amountFromD-@i')" placeholder="@Localizer.Text("placeholderNumberFormat")" id="amountFromD-@i" asp-for="filter[i].AmountRiskAvailableFrom" class="form-control text-right clear-@i">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <label>@Localizer.Text("textolimitCreditAmountToDisponible")</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconNominalAmount")"></i></div>
                                                </div>
                                                <input onblur="formatoAmount('amountToD-@i')" asp-for="filter[i].AmountRiskAvailableTo" id="amountToD-@i" placeholder="@Localizer.Text("placeholderNumberFormat")" class="form-control text-right clear-@i">
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 align-self-end">
                                            <button type="submit" class="btn btn-block btn-success " :disabled="envio">
                                                <i class="@Localizer.Text("iconFilter")"></i>
                                                <span>@Localizer.Text("buttonFilter")</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </form>
            <!--Modal d Flitro de los Clientes-->
            <v-dialog v-model="detalleUsuario" max-width="770">
                <v-card>
                    <v-card-title class="headline">
                        <h4>
                            @Localizer.Text("titleClientInformation")
                        </h4>
                        <v-spacer></v-spacer>
                        <v-btn icon @@click="detalleUsuario = false">
                            <i class="fa fa-close"></i>
                        </v-btn>
                    </v-card-title>

                    <v-card-text>
                        <div v-if="DatosDetalles != null" class="row">
                            <div class="col-sm-6">
                                <div class="card shadow mb-0">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h4 class="m-0 font-weight-bold text-primary">
                                            <i class="fab fa-accusoft"></i> @Localizer.Text("titleCommercialData")
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto mr-3">
                                                        <v-tooltip top>
                                                            <template v-slot:activator="{ on }">
                                                                <i class="fas fa-city" style="font-size:32px" />
                                                            </template>
                                                            <span></span>
                                                        </v-tooltip>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-xs font-weight-bold text-uppercase">
                                                            {{ DatosDetalles.company }}
                                                        </div>
                                                        <div v-if="DatosDetalles.document != null" class="text-xs font-weight-bold text-uppercase">
                                                            <small>{{ DatosDetalles.document.abbreviation }}: {{ DatosDetalles.document.number }}</small> <br />
                                                        </div>
                                                        <div v-if="DatosDetalles.address != null" class="text-xs">
                                                            <small>{{ DatosDetalles.address.line1 }}</small>
                                                            <small>{{ DatosDetalles.address.line2 }}</small> <br />
                                                            <small>@Localizer.Text("textostate"): {{ DatosDetalles.address.region }}</small>, <small>@Localizer.Text("textocity"): {{ DatosDetalles.address.city }}</small> <br />
                                                            <small v-if="DatosDetalles.email != null">@Localizer.Text("textoEmail"):{{ DatosDetalles.email }}</small><br v-if="DatosDetalles.email != null" />
                                                            <small>@Localizer.Text("textophone"):{{ DatosDetalles.phone }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr v-if="DatosDetalles.representante != null" />
                                            </div>
                                            <div v-if="DatosDetalles.representante != null" class="col-sm-6">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto mr-3">
                                                        <v-tooltip top>
                                                            <template v-slot:activator="{ on }">
                                                                <i class="@Localizer.Text("iconLegalRepre")" style="font-size:32px" v-on="on" />
                                                            </template>
                                                            <span>@Localizer.Text("textoLegalRepresentative")</span>
                                                        </v-tooltip>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-xs font-weight-bold text-uppercase">
                                                            {{ DatosDetalles.representante.name }}
                                                        </div>
                                                        <div class="text-xs font-weight-bold text-uppercase">
                                                            <small>{{ DatosDetalles.representante.label }}: {{ DatosDetalles.representante.documentNumber }}</small><br />
                                                            <small>@Localizer.Text("textophone"): {{ DatosDetalles.representante.phoneNumber }}</small><br />
                                                            <small>@Localizer.Text("textoEmail"): {{ DatosDetalles.representante.email }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div v-if="DatosDetalles.contacto != null" class="row no-gutters align-items-center">
                                                    <div class="col-auto mr-3">
                                                        <v-tooltip top>
                                                            <template v-slot:activator="{ on }">
                                                                <i class="@Localizer.Text("iconContactPerson")" style="font-size:32px" v-on="on" />
                                                            </template>
                                                            <span>@Localizer.Text("textContactPerson")</span>
                                                        </v-tooltip>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-xs font-weight-bold text-uppercase">
                                                            {{ DatosDetalles.contacto.name }}
                                                        </div>
                                                        <div class="text-xs font-weight-bold text-uppercase">
                                                            <small>{{ DatosDetalles.contacto.label }}: {{ DatosDetalles.contacto.documentNumber }}</small><br />
                                                            <small>@Localizer.Text("textophone"): {{ DatosDetalles.contacto.phoneNumber }}</small><br />
                                                            <small>@Localizer.Text("textoEmail"): {{ DatosDetalles.contacto.email }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card shadow mb-0">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h4 class="m-0 font-weight-bold text-primary">
                                            <i class="fas fa-network-wired"></i> @Localizer.Text("titleLimiteCreditoModal")
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="mb-4 text-justify">
                                                    @Localizer.Text("textoEjecutivoAyudaModal")
                                                </p>
                                                <label class="mb-0" for="lstMoneda"><b>@Localizer.Text("textotypeCurrency")</b></label>
                                                <div class="form-group">
                                                    <select disabled v-on:change="validarTipoMoneda()" v-on:blur="validarTipoMoneda()" v-model="limiteCliente.currency" :class="['form-control select-no-arrow', errorTipoMoneda]">
                                                        <option disabled v-if="limiteCliente.currency == '' || limiteCliente.currency == null" :value="limiteCliente.currency">@Localizer.Text("placeholderCurrencyType")</option>
                                                        <option v-for="moneda in listaCurrencies" :value="moneda.id">{{ moneda.name }}</option>
                                                    </select>
                                                    <span class="text-danger">{{ errorTipoMonedaTexto }}</span>
                                                </div>
                                                <label class="mb-0" for="lstMoneda"><b>@Localizer.Text("textoAsignarLimite")</b></label>
                                                <div class="form-group">
                                                    @*<h6><b>@Localizer.Text("textMaximumRiskAmount")</b></h6>*@
                                                    <input type="text" placeholder="@Localizer.Text("placeholderNumberFormat")" maxlength="13" onPaste="return false" v-on:blur="validarMontoRiesgo()" v-model="limiteCliente.available" :class="['text-right', 'form-control', errorMontoRiesgo]" onKeypress="if ((event.keyCode < 44 || event.keyCode == 46 || event.keyCode > 57)) event.returnValue = false;" />
                                                    <span class="text-danger">{{ errorMontoRiesgoTexto }}</span>

                                                    <button class="btn btn-block btn-success mt-3" type="button" v-on:click="habilitarModal"><i class="fa fa-check"></i>@Localizer.Text("buttonAssign")</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-card-text>
                </v-card>
            </v-dialog>
            <v-dialog v-model="modalCargandoDetalle" persistent max-width="700">
                <v-card color="primary" dark>
                    <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialogCambiarMonto" transition="dialog-bottom-transition" max-width="700">
                <v-card>
                    <v-card-title class="headline">
                        <h4>
                            @Localizer.Text("ModificarLimiteRiesgo")
                        </h4>
                        <v-spacer></v-spacer>
                        <v-btn icon @@click="dialogCambiarMonto = false">
                            <v-icon>@Localizer.Text("iconCloseMDI")</v-icon>
                        </v-btn>
                    </v-card-title>

                    <v-card-text>

                        <v-row>
                            <v-col cols="12" md="12" sm="12">
                                <p>¿@Localizer.Text("textoMesajeConfirmarLimite")</p>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" md="12" sm="12">
                                <span class="float-right">
                                    <v-btn dark color="green" @@click="enviarDatos(); dialogCambiarMonto = false">@Localizer.Text("buttonAcept")</v-btn>
                                    <v-btn dark color="red" @@click="dialogCambiarMonto = false">@Localizer.Text("buttonClose")</v-btn>
                                </span>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-dialog>

            @await Html.PartialAsync("_ModalLogoutPartial", 5)
        </div>
    </div>

</v-app>

@section Scripts{
    <script src="~/js/Bancos/EjecutivoCuentas/EjecutivoCuentas.js" asp-append-version="true"></script>
}