@page
@model TuFactoring.Areas.Confirmant.Pages.RevisionModel
@{
    ViewData["Title"] = "Revision";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <v-app hidden id="appConfirmarFacturas">
        @Html.AntiForgeryToken()

        @await Html.PartialAsync("_ModalLogoutPartial", 5)
        <div id="eliminarData">
            @for (var i = 0; i < Model.dataJsonFilter.Count; i++)
            {
                <input hidden id="filterData+@i" value="@Model.dataJsonFilter[i]" />
            }

            <input hidden id="currenciesData" value="@Model.dataJsonCurrencies" />
        </div>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                <a href="#" class="btn btn-success btn-circle">
                    <i class="@Localizer.Text("iconConfirmInvoice")" style="color:white"></i>
                </a>
                @Localizer.Text("titleReview")
            </h1>

        </div>
        <p class="mb-4">
            @Localizer.Text("textoRevisionContent")
            <br /><br />
            @Localizer.Text("textoPress") <a href="#" @@click="dialogAyuda = true">@Localizer.Text("textoHere")</a> @Localizer.Text("textoMoreInformation")
        </p>

        <p class="mb-4 text-danger" v-if="facturas.length == 0 && arrayCondition(buscarFacturas,false) && filtersIsEmpty(filter)">
            @Localizer.Text("textoNotResultadoFacturas")
        </p>


        <div class="card shadow mb-4" v-for="(item,index) in currencies" v-if="methodPublicationsCurrency(item.id).length > 0 || !filterIsEmpty(filter[index])">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" v-if="methodPublicationsCurrency(item.id).length > 0 || !filterIsEmpty(filter[index])">
                <div>
                    <h4 class="m-0 font-weight-bold text-primary" :hidden="selected.length != 0 && acumuladorValores(item.id) > 0">
                        &nbsp;@Localizer.Text("textoInvoiceToConfirm")&nbsp;({{item.iso_4217}})<span class="m-0 font-weight-bold text-primary" v-if="selected.length && acumuladorValores(item.id) > 0">@Localizer.Text("textoAmountAccumulated"):&nbsp;</span>{{formatoMonedaInput(acumuladorValores(),lang,2)}}<span class="text-xs badge bg-gray-200" :hidden="selected.length == 0 || acumuladorValores(item.id) == 0">{{item.iso_4217}}</span>
                    </h4>
                    <h4 class="m-0 font-weight-bold text-primary" :hidden="selected.length == 0 || acumuladorValores(item.id) == 0">
                        &nbsp;@Localizer.Text("textoAmountAccumulated")&nbsp;</span>{{item.symbol}}&nbsp;{{formatoMonedaInput(acumuladorValores(item.id),lang,2)}}<span class="text-xs badge bg-gray-200" :hidden="selected.length == 0">{{item.iso_4217}}</span>
                    </h4>
                </div>
                <div class="dropdown no-arrow">
                    <span class="font-weight-bold text-primary" v-if="tamanoTlf()">@Localizer.Text("buttonOptions")</span>
                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="@Localizer.Text("iconMenu") text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">@Localizer.Text("buttonOptions"):</div>
                        <button class="dropdown-item btn-link"
                                data-toggle="modal" :data-target="'#modalFilter-'+index">
                            <i class="@Localizer.Text("iconFilter")"></i>
                            @Localizer.Text("buttonFilter")
                        </button>
                        <button type="submit" form="filters" :value="index" class="dropdown-item btn-link" style="color:rgb(58,59,69) !important" :id="'buttonFilterClear-'+index">
                            <i class="@Localizer.Text("iconClear")"></i>
                            @Localizer.Text("buttoClearFilter")
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" class="dropdown-item btn-link" @@click="checkAll2(index)" :disabled="envio || facturas[indice] == null"> {{checkAll(index) ? '@Localizer.Text("textoQuitAll")':'@Localizer.Text("textoSelectAll")'}}</button>
                        <button class="dropdown-item btn-link" v-on:click="abrirDialogConfirmar(index)"
                                :disabled="envio || facturas[indice] == null || selected.length == 0">
                            <i class="@Localizer.Text("iconCheck")"></i> @Localizer.Text("buttonAccept")
                        </button>
                        <button class="dropdown-item btn-link" v-on:click="abrirDialogRechazar(index)"
                                :disabled="envio || facturas[indice] == null || selected.length == 0">
                            <i class="@Localizer.Text("iconClear")"></i> @Localizer.Text("buttonReject")
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12" v-if="methodPublicationsCurrency(item.id).length > 0">
                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="12" lg="12" md="12">
                            <v-data-iterator :items="methodPublicationsCurrency(item.id)"
                                             :items-per-page.sync="perPage"
                                             :options.sync="options[index]"
                                             :loading="loading[index]"
                                             :hide-default-footer="methodPublicationsCurrency(item.id).length <= perPage"
                                             :footer-props="{ itemsPerPageOptions }">
                                <template v-slot:default="props">
                                    <v-row>
                                        <v-col v-for="(item,indexInvoice) in props.items" cols="12" lg="4" md="4" sm="6">
                                            <div class="card shadow mb-3">
                                                <div class="card-header border-left-success py-3" :id="index">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col">
                                                            <a :href="'#collapseCardExample'+index + '-' + indexInvoice" style="cursor: pointer; text-decoration: none;" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                                                <div class="text-xs font-weight-bold text-success text-uppercase">
                                                                    {{item.invoice.supplier.name}}
                                                                </div>
                                                                <div class="text-xs font-weight-bold text-gray-800 text-uppercase">
                                                                    {{item.invoice.debtor.name}}
                                                                </div>
                                                                <p class="text-xs text-muted">
                                                                    {{item.invoice.number}} <span class="text-xs badge badge-primary" title="@Localizer.Text("tipExpirationDays")">{{item.invoice.term_days}} @Localizer.Text("textoDays")</span>
                                                                </p>
                                                                <div class="h6 font-weight-bold text-gray-800">
                                                                    {{item.currency.symbol}}&nbsp;{{ formatoMonedaInput(item.invoice.amount,lang,item.currency.digits )}}
                                                                    &nbsp;&nbsp;
                                                                    <span class="text-xs badge bg-gray-200">
                                                                        {{item.currency.iso_4217}}
                                                                    </span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-auto pr-3">
                                                            <span class="icon text-white-90 custom-control custom-checkbox">
                                                                @*<span class="text-primary"><b>Seleccione</b></span>*@
                                                                <input title="Seleccionar Factura" type="checkbox" v-model="selected" :value="facturas.indexOf(item)" class="mr-2" id="defaultUnchecked" :disabled="envio">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer w-100 justify-content-between collapse" :id="'collapseCardExample'+index + '-' + indexInvoice">

                                                    <button class="btn btn-success btn-icon-split btn-sm float-left" :disabled="envio">
                                                        <a :href="'#collapseCardExample'+index" style="cursor: pointer; text-decoration: none;" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                                            <span class="text " style="color:white !important" @@click="reviewInvoice(facturas.indexOf(item))">@Localizer.Text("buttonAccept")</span>
                                                        </a>
                                                    </button>
                                                    &nbsp;
                                                    <button class="btn btn-danger btn-icon-split btn-sm float-right" :disabled="envio">
                                                        <a :href="'#collapseCardExample'+index" style="cursor: pointer; text-decoration: none;" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                                            <span class="text " style="color:white !important" @@click="refuseInvoice(facturas.indexOf(item))">@Localizer.Text("buttonReject")</span>
                                                        </a>
                                                    </button>
                                                </div>
                                            </div>
                                        </v-col>
                                    </v-row>
                                </template>

                            </v-data-iterator>
                        </v-col>
                    </v-row>
                </v-card-text>

            </div>
            <div v-else-if="!filterIsEmpty(filter[index]) && !buscarFacturas[index]">
                <p class="ml-4 mt-2 mb-4 text-danger">
                    @Localizer.Text("textFilterIsEmpty")
                </p>
            </div>
        </div>

        <v-dialog v-model="dialogConfirmar" transition="dialog-bottom-transition" max-width="700">
            <v-card>
                <v-card-title class="headline">
                    <h4>
                        @Localizer.Text("titleModalRevisarTodas")
                    </h4>
                    <v-spacer></v-spacer>
                    <v-btn icon @@click="dialogConfirmar = false">
                        <v-icon>@Localizer.Text("iconCloseMDI")</v-icon>
                    </v-btn>
                </v-card-title>

                <v-card-text>

                    <v-row>
                        <v-col cols="12" md="12" sm="12">
                            <p>@Localizer.Text("textoModalRevisionTodas")</p>
                            <p>
                                @Localizer.Text("textoAmountToOffert"):&nbsp;<strong>{{symbol}}&nbsp;{{formatoMonedaInput(acumuladorValores(idCurrencies),lang,2)}}</strong>
                                <span class="text-xs badge bg-gray-200" :hidden="selected.length == 0">{{iso_4217}}</span>
                            </p>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" md="12" sm="12">
                            <span class="float-right">
                                <v-btn dark color="green" @@click="confirmarFacturas('ReviewInvoice', 'tooltip.reviewFacturaIndividual'); dialogConfirmar = false">@Localizer.Text("buttonAcept")</v-btn>
                                <v-btn dark color="red" @@click="dialogConfirmar = false">@Localizer.Text("buttonCancel")</v-btn>
                            </span>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogRechazar" transition="dialog-bottom-transition" max-width="700">
            <v-card>
                <v-card-title class="headline">
                    <h4>
                        @Localizer.Text("titleModalRechazarTodas")
                    </h4>
                    <v-spacer></v-spacer>
                    <v-btn icon @@click="dialogRechazar = false">
                        <v-icon>@Localizer.Text("iconCloseMDI")</v-icon>
                    </v-btn>
                </v-card-title>

                <v-card-text>

                    <v-row>
                        <v-col cols="12" md="12" sm="12">
                            <p>@Localizer.Text("textoModalRechazarTodas")</p>
                            <p>
                                @Localizer.Text("textoAmountToOffert"):&nbsp;<strong>{{symbol}}&nbsp;{{formatoMonedaInput(acumuladorValores(idCurrencies),lang,2)}}</strong>
                                <span class="text-xs badge bg-gray-200" :hidden="selected.length == 0">{{iso_4217}}</span>
                            </p>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" md="12" sm="12">
                            <span class="float-right">
                                <v-btn dark color="green" @@click="confirmarFacturas('RefuseInvoice', 'tooltip.refuseFacturaIndividual'); dialogRechazar = false">@Localizer.Text("buttonAcept")</v-btn>
                                <v-btn dark color="red" @@click="dialogRechazar = false">@Localizer.Text("buttonCancel")</v-btn>
                            </span>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>


        <form id="filters" method="post">
            @for (var i = 0; i < Model.dataJsonFilter.Count; i++)
            {
                <div class="modal" tabindex="-1" role="dialog" id="modalFilter-@i">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><i class="@Localizer.Text("iconFilter")"></i>&nbsp;@Localizer.Text("titlefilter")</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <label>@Localizer.Text("titleProvider")</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconProvider")"></i></span>
                                            </div>
                                            <input asp-for="filter[i].Supplier_id" class="form-control clear-@i" maxlength="255" placeholder="@Localizer.Text("placeholderSupplier")" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <label>@Localizer.Text("titleClient")</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                            </div>
                                            <input asp-for="filter[i].Debtor_id" class="form-control clear-@i" maxlength="255" placeholder="@Localizer.Text("placeholderDebtor")" />
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <label>@Localizer.Text("titleInvoiceNumber")</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="@Localizer.Text("iconInvoiceNumber")"></i></span>
                                            </div>
                                            <input type="text" maxlength="255" id="txtFactura" class="form-control clear-@i" asp-for="filter[i].Number"
                                                   placeholder="@Localizer.Text("placeholderNDocument")" onKeypress="if (event.keyCode == 32) event.returnValue = false;" maxlength="255">
                                        </div>
                                        <span class="help-block text-danger" asp-validation-for="filter[i].Number"></span>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <label>@Localizer.Text("titleIssuedFrom")</label>
                                        <div class="input-group input-group-sm date" data-date-format="dd-mm-yyyy">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="@Localizer.Text("iconDate")"></i></span>
                                            </div>
                                            <input :max="moment().format('YYYY-MM-DD')" :min="moment().subtract(100,'years').format('YYYY-MM-DD')"
                                                   asp-for="filter[i].IssuedFrom" type="date" class="form-control pull-right clear-@i" placeholder="dd-mm-yyyy">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <label>@Localizer.Text("titleIssuedTo")</label>
                                        <div class="input-group input-group-sm date" data-date-format="dd/mm/yyyy">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="@Localizer.Text("iconDate")"></i></span>
                                            </div>
                                            <input :max="moment().format('YYYY-MM-DD')" :min="moment().subtract(100,'years').format('YYYY-MM-DD')" type="date"
                                                   class="form-control pull-right clear-@i" asp-for="filter[i].IssuedTo">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <label>@Localizer.Text("titleExpirationFrom")</label>
                                        <div class="input-group input-group-sm date" data-date-format="dd-mm-yyyy">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="@Localizer.Text("iconDate")"></i></span>
                                            </div>
                                            <input :max="moment().add(100,'years').format('YYYY-MM-DD')" :min="moment().format('YYYY-MM-DD')" asp-for="filter[i].ExpirationFrom"
                                                   type="date" class="form-control pull-right clear-@i" placeholder="dd-mm-yyyy">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <label>@Localizer.Text("titleExpirationTo")</label>
                                        <div class="input-group input-group-sm date" data-date-format="dd/mm/yyyy">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="@Localizer.Text("iconDate")"></i></span>
                                            </div>
                                            <input :max="moment().add(100,'years').format('YYYY-MM-DD')" :min="moment().format('YYYY-MM-DD')" type="date"
                                                   class="form-control pull-right clear-@i" asp-for="filter[i].ExpirationTo">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <label>@Localizer.Text("titleAmountFrom")</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconNominalAmount")"></i></div>
                                            </div>
                                            <input id="amountFrom-@i" onblur="formatoAmount('amountFrom-@i')" placeholder="@Localizer.Text("placeholderNumberFormat")" asp-for="filter[i].AmountFrom" class="form-control text-right clear-@i">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <label>@Localizer.Text("titleAmountTo")</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text" id="basic-addon1"><i class="@Localizer.Text("iconNominalAmount")"></i></div>
                                            </div>
                                            <input id="amountTo-@i" onblur="formatoAmount('amountTo-@i')" asp-for="filter[i].AmountTo" placeholder="@Localizer.Text("placeholderNumberFormat")" class="form-control text-right clear-@i">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 align-self-end">
                                        <button type="submit" class="btn btn-block btn-success " :disabled="envio">
                                            <i class="@Localizer.Text("iconFilter")"></i>
                                            <span>@Localizer.Text("buttonFilter")</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </form>
        <v-dialog v-model="dialogAyuda" max-width="500" transition="dialog-bottom-transition">
            <v-card>
                <v-card-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @@click="dialogAyuda = false">
                        <v-icon>@Localizer.Text("iconCloseMDI")</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="12" lg="12" md="12">
                                @Localizer.Text("textoRevisarFacturas1")<br /><br />
                                <strong>@Localizer.Text("textoConfirmarFacturas2Title")</strong>&nbsp;@Localizer.Text("textoRevisionFacturas2")<br />
                                <strong>@Localizer.Text("textoConfirmarFacturas3Title")</strong>&nbsp;@Localizer.Text("textoRevisionFacturas3")<br />
                                <strong>@Localizer.Text("textoConfirmarFacturas4Title")</strong>&nbsp;@Localizer.Text("textoRevisionFacturas4")<br /><br />
                                @Localizer.Text("textoRevisionFacturas5")

                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>

    </v-app>


@section scripts{
    <script src="~/js/Bancos/Revision.js" asp-append-version="true"></script>
}





